<link rel="import" href="../../bower_components/polymer/polymer.html">
<!-- <link rel="import" href="../../bower_components/polymer/polymer.html"> -->
<link rel="import" href="../../bower_components/paper-input/index.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-input/index.html">
 <link rel="import" href="bower_components/paper-button/paper-button.html">
<dom-module id="login-bbva">
  <template is="dom-if" if="{{!sendInProgress}}">
    <style>
      :host {
        display: block;
      }
    </style>
    <custom-style>
      <style>
      paper-button.custom {
        --paper-button-flat-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }
      paper-button.custom:hover {
        background-color: var(--paper-indigo-100);
      }
      paper-button.pink {
        color: var(--paper-pink-a200);
      }
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }
      paper-button.disabled {
        color: white;
        background-color: bisque;
      }
    </style>
  </custom-style>
    <h2>Bienvenido a BBVA </h2>
    <paper-input always-float-label label="Ingrese Usuario"></paper-input>
    <paper-input always-float-label label="Ingrese Contraseña"></paper-input>
   <paper-button toggles raised class="custom indigo" on-click="showMe">ingresar</paper-button>
    <!-- <paper-input label="Escribe algo" value="{{prop1}}"></paper-input> -->
  </template>
    <script>
          Polymer({
            is: 'login-bbva',
            properties:{
              sendInProgress: {value: false, notify: true}
            },
            showMe: function() {
              alert("valgo "+sendInProgress);
          this.sendInProgress = !this.sendInProgress
  }
          });
        </script>
<dom-module>
